body {
    font-family: 'Source Sans Pro', sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
    position: fixed;
}

nav {
    background-color: transparent;
    box-shadow: none;
    opacity: 0;
}

nav .nav-wrapper {
    padding-top: 25px;
}

nav .brand-logo {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

#first_container {
    height: 100%;
}

#first_container .title {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    line-height: 1em;
    opacity: 0;
}

#first_container .description {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    line-height: 1.4em;
    opacity: 0;
}

#first_container .arrow-downward {
    opacity: 0;
}

#second_container {
    height: 100%;
}

#second_container .card-panel {
    border-radius: 6px;
}

#second_container .profile-image {
    border-radius: 100%;
}

#second_container .description {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    text-align: justify;
}

#third_container {
    height: 100%;
}

#third_container .mobile {
    width: 50%;
}

#third_container .card-panel {
    min-height: 635px;
}

#third_container .card-panel h4 {
    font-family: 'Oswald', sans-serif;
}

#third_container .card-panel p {
    text-align: justify;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300 !important;
}

#main {
    position: absolute;
    width: 100%;
    height: 100%;
}

#particles-js {
    background-color: #253039;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.container-fluid {
    padding-left: 10%;
    padding-right: 10%;
}

.full-width {
    width: 100%;
     margin-left: 0 !important;
     margin-right: 0 !important;
}

.navbar-fixed {
    position: fixed;
}
/* Mobile Devices */
@media screen and (max-width: 600px) {
    #first_container h1 {
        font-size: 3.25em;
    }

    #first_container p {
        font-size: 1.5em;
    }

    #first_container .arrow-downward {
        font-size: 25px;
    }

    #first_container .col-arrow-downward {
        padding-top: 25px;
    }

    #second_container .profile-image {
        border-radius: 100%;
        width: 40%;
    }

    #second_container .description {
        font-size: 1.2rem;
    }

    #second_container .card-panel {
        margin: 25rem 0 1rem 0;
    }

    #third_container > .row {
        margin-top: 600%;
    }

    #third_container .card-panel p {
        font-size: 1.2rem;
    }
}
/* Tablet Devices */
@media screen and (min-width: 601px) and (max-width: 992px) {
    #first_container h1 {
        font-size: 3.50em;
    }

    #first_container p {
        font-size: 2em;
    }

    #first_container .arrow-downward {
        font-size: 30px;
    }

    #first_container .col-arrow-downward {
        padding-top: 20px;
    }

    #second_container .profile-image {
        border-radius: 100%;
        width: 35%;
    }

    #second_container .description {
        font-size: 1.3rem;
    }

    #third_container .card-panel p {
        font-size: 1.3rem;
    }
}
/* Desktop Devices */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    #first_container h1 {
        font-size: 3.75em;
    }

    #first_container p {
        font-size: 2.5em;
    }

    #first_container .arrow-downward {
        font-size: 35px;
    }

    #first_container .col-arrow-downward {
        padding-top: 15px;
    }

    #second_container .profile-image {
        border-radius: 100%;
        width: 30%;
    }

    #second_container .description {
        font-size: 1.4rem;
    }

    #third_container .card-panel p {
        font-size: 1.4rem;
    }
}
/* Large Desktop Devices */
@media screen and (min-width: 1201px) {
    #first_container h1 {
        font-size: 4em;
    }

    #first_container p {
        font-size: 3em;
    }

    #first_container .arrow-downward {
        font-size: 40px;
    }

    #first_container .col-arrow-downward {
        padding-top: 10px;
    }

    #second_container .profile-image {
        border-radius: 100%;
        width: 25%;
    }

    #second_container .description {
        font-size: 1.5rem;
    }

    #third_container .card-panel p {
        font-size: 1.5rem;
    }
}

